<h1>Create new contact</h1>

<form action="/contacts" method="post">
  <p>first name: <input type="text" name="first_name"></p>
  <p>middle name: <input type="text" name="middle_name"></p>
  <p>last name: <input type="text" name="last_name"></p>
  <p>email: <input type="text" name="email"></p>
  <p>phone number: <input type="text" name="phone_number"></p>
  <p>bio: <input type="text" name="bio"></p>
  <input type="submit">
</form>
